:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

html, body{padding:0;margin:0;width:100%;height:100%;overflow: hidden;}
.button{display:flex;align-items:center;justify-content:center;padding:0.5em 1.5em;border-radius: 4px;color:#444;transition:all .3s;background: rgba(223, 230, 234, 0.2);cursor:pointer;box-shadow:0 2px 3px rgba(0, 0, 0, .2);}
.button.disabled{pointer-events: none;opacity: 0.6;}
.button:hover{background: #cef0ff;color:#000;}

.icon{display:inline-block;width:20px;height:20px;vertical-align: center;background: #444;flex: 0 0 auto;}
.icon.image{mask-image: url("assets/images/image-svgrepo-com.svg");-webkit-mask-image: url("assets/images/image-svgrepo-com.svg");}
.icon.folder{mask-image: url("assets/images/folder-svgrepo-com.svg");-webkit-mask-image: url("assets/images/folder-svgrepo-com.svg");}
.icon.list{mask-image: url("assets/images/list-bullet-svgrepo-com.svg");-webkit-mask-image: url("assets/images/list-bullet-svgrepo-com.svg");}
.icon.chart{mask-image: url("assets/images/chartbar-2-svgrepo-com.svg");-webkit-mask-image: url("assets/images/chartbar-2-svgrepo-com.svg");}
.icon.cog{mask-image: url("assets/images/gear-svgrepo-com.svg");-webkit-mask-image: url("assets/images/gear-svgrepo-com.svg");}
.icon.refresh{mask-image: url("assets/images/arrow-ccw-svgrepo-com.svg");-webkit-mask-image: url("assets/images/arrow-ccw-svgrepo-com.svg");}
.icon.remove{mask-image: url("assets/images/nosign-svgrepo-com.svg");-webkit-mask-image: url("assets/images/nosign-svgrepo-com.svg");}
.icon.play{mask-image: url("assets/images/media-play-svgrepo-com.svg");-webkit-mask-image: url("assets/images/media-play-svgrepo-com.svg");}
.icon.stop{mask-image: url("assets/images/media-stop-svgrepo-com.svg");-webkit-mask-image: url("assets/images/media-stop-svgrepo-com.svg");}
.icon.info{mask-image: url("assets/images/info-circle-svgrepo-com.svg");-webkit-mask-image: url("assets/images/info-circle-svgrepo-com.svg");}
.icon.eye{mask-image: url("assets/images/eye-svgrepo-com.svg");-webkit-mask-image: url("assets/images/eye-svgrepo-com.svg");}
.icon.link{mask-image: url("assets/images/link-alt-svgrepo-com.svg");-webkit-mask-image: url("assets/images/link-alt-svgrepo-com.svg");}
.icon.logo{background:url("assets/images/icon.png") no-repeat;background-size:contain;}

#container{display:flex;width:100%;height:100%;}
#container .side{flex: 0 0 auto;width:calc(200px - 1em);background:#fafafa;padding:0.5em;display:flex;flex-direction: column;justify-content: space-between;border-right:#dcdcdc solid 1px;}
#container .side menu{list-style: none;padding:0.5em;margin:0.5em 0 0 0;}
#container .side menu li{display:flex;align-items: center;}
#container .side .button{overflow:hidden;padding:0.3em;border-radius: 4px;color:#444;transition:all .3s;background:transparent;justify-content:start;box-shadow: none;}
#container .side .button i.icon{margin-right:0.5em;}
#container .side .button span{opacity: 0;white-space: nowrap;transition:all .2s;}
#container .side.open .button span{opacity: 1;}
#container .side>.button i,#container .side #home_button i{transform:translateX(5px);transition:all .2s;}
#container .side.open>.button i,#container .side.open #home_button i{transform:translateX(0);}
#container .side .button:hover{cursor:pointer;background:#eaeaea;}
#container .side .button.current{background:#2196f3;color:#fff;}
#container .side .button.current .icon{background:#fff;}
#container .side a{}

#container .main{flex: 1 1 auto;display:flex;overflow: hidden;height:100%;position:relative;}
#container .main>div{position:absolute;top:0;left:0;opacity:0;transform:translateY(20px);transition:all .3s;pointer-events: none;width:100%;height:100%;flex-direction: column;flex: 1 1 auto;}
#container .main>div.current{display:flex;opacity: 1;transform:translateY(0);pointer-events: all;}

#container .main>#box_overlay{background:rgba(0, 0, 0, .5);transform:translateY(0);z-index:70;}
#container .main>#box_content{max-width: 80%;max-height: 80%;background:#fff;z-index:80;left:50%;top:50%;transform:translate(-50%, -40%);}
#container .main>#box_overlay.displayed+#box_content,
#container .main>#box_overlay.displayed{opacity: 1;transform:translate(0);pointer-events: all;}
#container .main>#box_overlay.displayed+#box_content{transform:translate(-50%, -50%);-webkit-transform: translate(-50%,-50%);}

#container .main>#box_content .list{padding:1em;}
#container .main>#box_content .list .row{display:flex;height:40px;align-items: center;}
#container .main>#box_content .list .row span.net_indicator{flex: 0 0 auto;height:40px;width:5px;margin-right:1em;}
.list .row span.net_indicator.online{background: #1cbd35;}
.list .row span.net_indicator.offline{background: #bd1c1c;}
#container .main>#box_content .list .row span.name{flex: 1 1 auto;}
#container .main>#box_content .list .row span.status{flex: 0 0 auto;width:160px;text-align: center;}
#container .main>#box_content .list .row span.created{flex: 0 0 auto;width:100px;text-align: center;}
#container .main>#box_content .list .row .actions{flex: 0 0 auto;display:flex;}

#container .main .list{}
#container .main .list .form{flex:0 0 auto;height:50px;background:#fafafa;display:flex;padding:1em;align-items:center;}
#container .actions{flex: 0 0 auto;display:flex;gap:0.5em;}
#container .main .list .form input{flex: 1 1 auto;margin:0 1em;}
#container .main .list .content{flex: 1 1 auto;display:flex;flex-direction: column;overflow: hidden;}
#container .main .list .content .headers{flex: 0 0 auto;height:40px;display:flex;align-items: center;background:#fff;border-bottom:#ddd solid 1px;}
#container .main .list .content .body{flex: 1 1 auto;overflow:auto;}
#container .main .list .content .body .row{display:flex;height:50px;align-items: center;border-bottom:solid 1px #eee;}
#container .main .list .content .body .row.odd{background:#fff;}
#container .main .list .content .body .empty{flex-direction:column;display:flex;height:100%;align-items: center;justify-content: center;background:url("assets/images/alert-triangle-svgrepo-com.svg") no-repeat center center;background-size:contain;}
#container .main .list .content .body .empty span{color:#999;}

#container .main .list .content span{flex: 0 0 auto;display:block;}
#container .main .list .content span.checkbox{width:35px;text-align: center;}
#container .main .list .content span.checkbox input{pointer-events: none;}
#container .main .list .content span.name{flex: 1 1 auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;min-width: 0;}
#container .main .list .content span.name>span.repo{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;min-width: 0;}
#container .main .list .content span.name>span.tag{color: #777c7e;}
#container .main .list .content span.containers{width:75px;text-align: center;}
#container .main .list .content span.created{width:100px;text-align: center;}
#container .main .list .content span.user{width:100px;text-align: center;}
#container .main .list .content span.status{width:150px;text-align: center;}
#container .main .list .content span.size{width:75px;text-align: center;}
#container .main .list .content span.net_indicator{width:6px;height:50px;}
#container .main .list .content .body span.user,
#container .main .list .content .body span.created,
#container .main .list .content .body span.size{font-size:0.8em;}

#container #parameters{}
#container #parameters .block{width:80%;margin:0 auto;overflow:auto;}
#container #parameters .block h2{font-weight: normal;font-size:1.2em;}
#container #parameters .block form{background:#fff;box-shadow: 0 2px 2px rgba(0, 0, 0, .2);padding:1em;overflow: auto;}
#container #parameters .block form .input{margin-bottom:1em;padding-bottom:1em;border-bottom:solid 1px #eee;display:flex;justify-content: space-between;align-items: start;}
#container #parameters .block form .input:last-of-type{margin-bottom:0;padding-bottom:0;border-bottom:none;}
#container #parameters .block form .input label{width:160px;}
#container #parameters .block form .input input[type="text"]{border-radius:0;box-shadow: none;border:none;border-bottom:solid 1px #bbb;flex: 1 1 auto;}
#container #parameters .block form .input input[type="text"]:focus{border-bottom:solid 1px #646cff;}
#container #parameters .block form .input .list{flex: 1 1 auto;}
#container #parameters .block form .input .list .inputs{padding:0.5em;border:solid 1px #eee;height:180px;overflow: auto;}
#container #parameters .block form .input .list .inputs p{display:flex;align-items: center;justify-content: center;}
#container #parameters .block form .input .list .inputs p .button{margin-left:0.5em;}
#container #parameters .block form .input .list .actions{justify-content: end;margin-top:0.5em;}

#workingdir{}
#workingdir ul{list-style: none;padding:0;margin:0;display:flex;align-items: center;}
#workingdir ul li{flex: 0 0 auto;margin:0;padding:0.8em;border-top:solid 3px transparent;color:#666;cursor:pointer;transition:all .2s;display:flex;align-items: center;justify-content: space-between;width:100px;}
#workingdir ul li .button{border:none;padding:2px;width:15px;height:15px;box-shadow: none;border-radius:100%;background:none;display:flex;align-items: center;justify-content: center;font-size:0.8em;}
#workingdir ul li .button:hover{background:#ddd;}
#workingdir ul li:not(.current):hover{background:#eee;}
#workingdir ul li.current{border-top:solid 3px #2196f3;background:white;color:#000;}
#workingdir ul li.current .button{}
#workingdir ul li.button{flex: 0 0 auto;margin-left:1em;width:25px;height:25px;display:flex;align-items: center;justify-content: center;padding:0;}
#workingdir .status {display:flex;height:50px;align-items: center;background:#fff;padding:0 1em;}
#workingdir .status .button{width:90px;box-sizing: border-box;}
#workingdir .status .button.recycle{background:#1cbd35;color:#fff;flex: 0 0 auto;}
#workingdir .status .button.cancel{background: #bd1c1c;color:#fff;flex: 0 0 auto;}
#workingdir .status .button.disabled{display:none;}
#workingdir .status .progress{flex: 1 1 auto;display:flex;justify-content: center;height:40px;}
#workingdir .form{padding:2em;background:#fff;flex: 1 1 auto;overflow:auto;border-top:solid 1px #eee;}
#workingdir .form h4{margin:1em 0 0;}
#workingdir .form .input{display:flex;align-items: center;padding: 1em 0;border-bottom:solid 1px #eee;}
#workingdir .form .group{border-bottom:solid 1px #eee;}
#workingdir .form .group:last-of-type{border-bottom:none;}
#workingdir .form .group .input{border-bottom:none;}
#workingdir .form .input label{flex: 0 0 auto;width:100px;}
#workingdir .form .input input{flex: 1 1 auto;border:none;box-shadow: none;border-radius: 0;border-bottom:solid 1px #aaa;margin:0 0.5em;}
#workingdir .form .input .button{flex: 0 0 auto;}
#container #workingdir .inputs input[type="text"]{border-radius:0;box-shadow: none;border:none;border-bottom:solid 1px #bbb;flex: 1 1 auto;}
#container #workingdir .inputs input[type="text"]:focus{border-bottom:solid 1px #646cff;}
#container #workingdir .list{flex: 1 1 auto;}
#container #workingdir .list .inputs{padding:0.5em;border:solid 1px #eee;height:180px;overflow: auto;}
#container #workingdir .list .inputs p{display:flex;align-items: center;justify-content: center;}
#container #workingdir .list .inputs p .button{margin-left:0.5em;}
#container #workingdir .list .actions{justify-content: end;margin-top:0.5em;}

.step_progress{display:flex;gap:2px;align-items: center;justify-content: center;}
.step_progress .line{flex:0 0 auto;width:50px;height:12px;border-top:2px solid #24c8db;}
.step_progress .step{flex: 0 0 auto;width:30px;display:flex;flex-direction: column;align-items: center;justify-content: center;}
.step_progress .step span.indicator{border:solid 1px;width:20px;height:20px;background:pink;border-radius: 100%;display:flex;align-items: center;justify-content: center;font-size:0.8em;}
.step_progress .step span.label{font-size:0.8em;}

.step_progress .step.neutral{}
.step_progress .step.neutral .indicator{color:#000;border-color:#aaa;background:#efefef;}
.step_progress .step.neutral .label{color:#aaa;}
.step_progress .step.in_progress{}
.step_progress .step.in_progress .indicator{color:#0f84cd;border-color:#0f84cd;background:#fff;}
.step_progress .step.in_progress .label{color:#0f84cd;}
.step_progress .step.valid{}
.step_progress .step.valid .indicator{color:#fff;border-color:#0f84cd;background:#0f84cd;}
.step_progress .step.valid .label{color:#aaa;}
.step_progress .step.error{}
.step_progress .step.error .indicator{color:#fff;border-color:#cd0f0f;background:#cd0f0f;}
.step_progress .step.error .label{color:#aaa;}

.step_progress .line.neutral{border-color: #aaa;}
.step_progress .line.in_progress{border-color: #0f84cd;}
.step_progress .line.valid{border-color: #0f84cd;}
.step_progress .line.error{border-color: #cd0f0f;}

#container .main>#stats{padding:1em;background:#fff;display:flex;flex-wrap:wrap;box-sizing: border-box;flex-direction: row;}
#stats>h1{width:100%;}
#stats>div{width:calc(50% - 1em);display:flex;align-items: center;justify-content: center;}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

a,
select,
input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
